body{
	background-color: #ee3f54;
}
h1, h2, h3, h4, h5, h6, button{
	font-family: 'Bree Serif', serif;
}
#social-container{
	background-color: #1c3643;
}
#logo-container .callout{
	background-color: #ee3f54;
	color: #fff;
	margin-bottom: 0;
}
#menu-container{
	background-color: #48a19d;
}
#menu-container li a{
	color: #fff;
	font-family: 'Bree Serif', serif;
	text-transform: uppercase;
}
#menu-container li a:hover,
#submenu-container li a{
	color: #f6e15f;
}
#submenu-container li a{
	background-color: #48a19d;
	color: #fff;
}
#tickets-action .callout{
	background-color: #5e7eb7;
	margin-bottom: 0;
}
#tickets-action button{
	color:#fff;
	border: 1px solid #fff;
}
#lineup-container,
#lineup-tabs {
	background-color: #9676af;
	color: #fff;
	border:0;
}
#lineup-container{
	padding: 1em 0;
}
#lineup-tabs li{
	display: inline-block;
	float: none;
}
#lineup-tabs li a{
	font-family: 'Bree Serif', serif;
	font-size: 18px;#9676af
	color: #a7fffb;
	text-transform: uppercase;
}
#lineup-tabs li a:hover{
	background-color: #9676af;
	color: #fff;
}
#lineup-tabs li.is-active a{
	background-color: #9676af;
	color: #fff;
}
.tabs-content{
	background-color: #9676af;
	border: none;
}
.orbit-container{
	margin-bottom: 1.5em;
	height: auto;
}
.tabs-content .column:nth-child(odd) figcaption{
	text-align: right;
}
#tickets-container{
	background-color: #f6e15f;
	color: #161742;
	padding: 1em 0;
}
.pricing-table{
	font-family: 'Oswald', sans-serif;
	margin: 0 0 15px 0;
}
.pricing-table li{
	font-size: 20px;
}
.pricing-table li.title{
	font-size: 30px;
}
.pricing-table li a{
	font-family: 'Bree Serif', serif !important;
}
#info-container{
	background-color: #161742;
	color: #fff;
	padding: 1em 0;
}
#info-container .info-map iframe{
	width: 100%;	
}
#suscribete-container{
	background-color: #ee3f54;
	color: #fff;
	padding: 1em 0;
}
#suscribete-container h4 small{
	color: #ffcddc;
}
.error_form{
	font-size: 0.8em;
}
#offCanvas{
	background-color: #000;
	font-family: 'Bree Serif', serif;
}

#offCanvas li a{
	color: #fff;
}